/node_modules
/uploads/*
/videos/*
/public/hot
/public/images/*
/public/files/*
/public/uploads/*
/public/music/*
/public/videos/*
/public/storage
/public/addons
/public/css/mdb*
/public/js/modules/*
/public/js/mdb*
/public/music/*
/public/*.jpg
/public/font
/public/img
/public/templates
/public/*.png
/public/css/addons*
/public/css/modules/
/public/js/addons*
/storage/*.key
/config/session.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env