/node_modules
/uploads/*
/videos/*
/public/hot
/public/images/*
/public/files/*
/public/uploads/*
/public/music/*
/public/videos/*
/public/storage
/public/music/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env