/node_modules
/uploads/*
/videos/*
/public/hot
/public/images/*
/public/files/*
/public/uploads/*
/public/music/*
/public/videos/*
/public/storage
/public/music/*
/public/addons
/public/css/mdb*
/public/js/mdb*
/public/js/modules
/storage/*.key
/vendor
/.idea
/.vagrant
ttr_leagues/
Homestead.json
Homestead.yaml
npm-debug.log
.env